<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS_nk_HnRVu0iSHOV8NExwmIQxw5xn0eI</string>
	<key>GCM_SENDER_ID</key>
	<string>405688122406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseauth.firebaseauth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-4deb6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-4deb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405688122406:ios:77a8a710fc29ee04fc3ae7</string>
</dict>
</plist>